@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	max-width: 1920px;
	min-width: 1160px;
	min-height: 1750px;
	margin: 0 auto;
	padding: 0;
}

main{
	position: relative;
}

.visually-hidden:not(:focus):not(:active){
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.container{
	box-sizing: border-box;
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 60px;
}

.header{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
}

.logo{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.header__logo{
	display: block;
	padding-top: 20px;
	color: rgba(0, 0, 0, 1);
}

.header__logo:hover,
.header__logo:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header__logo:active{
	color: rgba(0, 0, 0, 0.3);
}

.main-menu{
	padding-top: 40px;
	padding-bottom: 55px;
}

.main-menu__container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 50px;
	margin-left: 35px;
	position: relative;
}

.main-menu__form::before{
	position: absolute;
	top: 18px;
	left: -35px;
	content: "";
	width: 50px;
	height: 50px;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
}

.main-menu__search,
.main-menu__button{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

.main-menu__search{
	height: 50px;
	color: rgba(0, 0, 0, 0.3);
	border: none;
	outline: none;
	background-color: rgba(247, 226, 150, 1);
}

.main-menu__search:hover{
	color: rgba(0, 0, 0, 0.6);
}

.main-menu__search:focus{
	color: rgba(0, 0, 0, 1);
}

.main-menu__button{
	display: none;
	margin-left: 150px;
	padding: 7px 20px;
	color: rgba(0, 0, 0, 1);
	outline: 2px solid rgba(0, 0, 0, 1);
	border: none;
	background-color: rgba(247, 226, 150, 1);
}

.main-menu__button:hover{
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 1);
}

.main-menu__button:active{
	display: inline-block;
	color: rgba(255, 255, 255, 0.3);
}

.main-menu__search:focus ~ .main-menu__button{
	display: inline-block;
}

.main-menu__button::after{
	position: absolute;
	bottom: 1px;
	left: -35px;
	content: "";
	width: 355px;
	height: 2px;
	background-color: rgba(0, 0, 0, 1);
}

.user-menu,
.site-menu,
.catalog-menu,
.extra-menu{
	list-style: none;
}

.user-menu{
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	max-width: 570px;
}

.user-menu__item{
	margin: 0;
	padding: 0;
	margin-left: 65px;
}

.user-menu__item--compare{
	margin-left: 265px;
}

.user-menu__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

.header .user-menu__item{
	position: relative;
}

.header .user-menu__link{
	color: rgba(0, 0, 0, 1);
}

.header .user-menu__link:hover,
.header .user-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header .user-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.header .user-menu__link::before{
	position: absolute;
	top: 10px;
	left: -20px;
	content: "";
	width: 50px;
	height: 50px;
}

.header .user-menu__link--user::before{
	background-image: url("../img/user-header.svg");
	background-repeat: no-repeat;
}

.header .user-menu__link--compare::before{
	background-image: url("../img/compare-header.svg");
	background-repeat: no-repeat;
}

.header .user-menu__link--cart::before{
	background-image: url("../img/cart-header.svg");
	background-repeat: no-repeat;
}

.header .user-menu__link:hover::before{
	filter: opacity(0.6);
}

.header .user-menu__link:active::before{
	filter: opacity(0.3);
}

.user-menu__item--exit{
	margin-left: 20px;
	margin-right: 45px;
}

.header .user-menu__link--exit{
	color: rgba(0, 0, 0, 0.3);
}

.header .user-menu__link--exit:hover,
.header .user-menu__link--exit:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header .user-menu__link--exit:active{
	color: rgba(0, 0, 0, 1);
}

.main-menu__list,
.site-menu,
.extra-menu{
	position: relative;
	margin: 0;
	padding: 0;
	margin-left: auto;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.extra-menu{
	max-width: 520px;
}

.extra-menu::after{
	position: absolute;
	top: 100px;
	left: 0px;
	content: "";
	width: 100px;
	height: 7px;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1;
}

.site-menu__link,
.extra-menu__link{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

.header .site-menu__link,
.extra-menu__link{
	color: rgba(0, 0, 0, 1);
}

.header .site-menu__link:hover,
.header .site-menu__link:focus,
.extra-menu__link:hover,
.extra-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header .site-menu__link:active,
.extra-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.extra-menu{
	min-width: 520px;
}

.extra-menu__item--contacts{
	margin-left: 110px;
}

.site-menu__link--catalog::before{
	position: absolute;
	top: 10px;
	left: 213px;
	content: "";
	width: 16px;
	height: 2px;
	background-color: rgba(184, 169, 116, 1);
}

.site-menu__link--catalog::after{
	position: absolute;
	top: 3px;
	left: 220px;
	content: "";
	width: 2px;
	height: 16px;
	background-color: rgba(184, 169, 116, 1);
}

.catalog-menu:hover,
.site-menu__link--catalog:hover ~ .catalog-menu{
	display: flex;
}

.catalog-menu{
	position: absolute;
	margin: 0;
	padding: 0;
	padding-top: 30px;
	padding-left: 60px;
	left: -60px;
	width: 1100px;
	height: 140px;
	z-index: 2;

	display: none;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;
	background-color: rgba(247, 226, 150, 1);
}

.catalog-menu__item{
	margin-right: 50px;
}

.catalog-menu__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}

.catalog-menu__link:hover,
.catalog-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.catalog-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.catalog-menu__item:nth-child(3){
	margin-bottom: 30px;
}

.catalog-menu__item:nth-last-child(2){
	margin-bottom: 50px;
}

.btn{
	display: inline-block;
	padding: 0 40px;
	min-width: 160px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	text-align: center;
	color: rgba(0, 0, 0, 1);

	outline: none;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, rgba(255, 255, 255, 1) 60%);
}

.btn:hover{
	background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%);
}

.btn:active{
	color: rgba(0, 0, 0, 0.3);
	background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%);
}

.recommended-goods{
	position: relative;
	background-image: linear-gradient(to bottom, rgba(247, 226, 150, 1) 0%, rgba(247, 226, 150, 1) 115px, rgba(255, 255, 255, 1) 115px, rgba(255, 255, 255, 1) 100%);
}

.recommended-goods__slider-input{
	display: none;
}

.recommended-goods__list{
	margin: 0;
	padding: 0;
	margin-bottom: 100px;
	list-style: none;
}

.item-goods__img-wrapper{
	width: 505px;
	display: flex;
	justify-content: center;
}

.item-goods--slider-3 .item-goods__img-wrapper{
	justify-content: flex-end;
}

.item-goods--slider-1,
.item-goods--slider-2,
.item-goods--slider-3{
	position: relative;
	display: none;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.recommended-goods__slider-input--1:checked ~ .recommended-goods__list .item-goods--slider-1,
.recommended-goods__slider-input--2:checked ~ .recommended-goods__list .item-goods--slider-2,
.recommended-goods__slider-input--3:checked ~ .recommended-goods__list .item-goods--slider-3{
	display: flex;
}

.description-detail{
	position: relative;
	width: 520px;
}

.item-goods--slider-1 .description-detail::before,
.item-goods--slider-2 .description-detail::before,
.item-goods--slider-3 .description-detail::before{
	position: absolute;
	content: "01";
	top: -5px;
	right: 0;
	
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 179.2px;
	line-height: 179.2px;
	color: rgba(255, 255, 255, 1);
}

.item-goods--slider-2 .description-detail::before{
	content: "02";
}

.item-goods--slider-3 .description-detail::before{
	content: "03";
}

.description-detail__lead{
	position: relative;
	display: block;
	width: 390px;
	margin-top: 85px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 56px;
	color: rgba(0, 0, 0, 1);
}

.item-goods--slider-3 .description-detail__lead{
	width: 500px;
}

.description-detail__text{
	width: 480px;
	margin-bottom: 60px;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0, 0, 0, 1);
}

.definition-list{
	margin: 0;
	padding: 0;
	margin-top: 65px;
	max-width: 510px;
	height: 90px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.definition-list__term{
	margin: 0;
	padding: 0;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 1);
}

.definition-list__determination{
	margin: 0;
	padding: 0;

	font-family: 'gilroylight', 'Arial', sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.controls{
	position: absolute;
	top: 345px;
	right: 95px;

	display: flex;
	flex-wrap: wrap;
}

.controls__label{
	display: inline-block;
  	margin: 0 10px;
  	width: 10px;
  	height: 10px;
  	border-radius: 50%;
  	border: 2px solid rgba(0, 0, 0, 1);
  	background-color: rgba(255, 255, 255, 1);
  	cursor: pointer;
}

#radio-1:checked ~ .controls label[for="radio-1"],
#radio-2:checked ~ .controls label[for="radio-2"],
#radio-3:checked ~ .controls label[for="radio-3"]{
  background-color: rgba(0, 0, 0, 1);
}

.categories__list{
	margin: 0;
	padding: 0;
	margin-bottom: 70px;
	margin-left: -60px;
	margin-right: -60px;
	display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.categories-item__link{
	text-decoration: none;
}

.categories-item__picture{
	width: 160px;
	height: 160px;

	background-color: rgba(247, 226, 150, 1);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.categories-item__picture:hover{
	background-color: rgba(240, 197, 46, 1);
}

.categories-item__picture:active{
	background-color: rgba(240, 197, 46, 1);
	filter: opacity(0.3);
}

.categories-item__picture:active ~ .categories-item__title{
	filter: opacity(0.3);
}

.categories-item__picture--virtual{
	background-image: url("../img/category-1.svg");
}

.categories-item__picture--monopods{
	background-image: url("../img/category-2.svg");
}

.categories-item__picture--camers{
	background-image: url("../img/category-3.svg");
}

.categories-item__picture--bracers{
	background-image: url("../img/category-4.svg");
}

.categories-item__picture--watches{
	background-image: url("../img/category-5.svg");
}

.categories-item__picture--quadcopters{
	background-image: url("../img/category-6.svg");
}

.categories-item__title{
	width: 160px;
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.features{
	min-height: 375px;
	margin-bottom: 100px;
 	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 85px, rgba(229, 229, 229, 1) 85px, rgba(229, 229, 229, 1) 100%);
}

.features .container{
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.features__slider-input{
	display: none;
}

.features__list{
	position: relative;
	list-style: none;
}

.features__item{
	margin-bottom: 25px;
}

.advantages{
	margin-left: 25px;
}

.advantages::before{
	position: absolute;
	top: -30px;
	left: -85px;
	content: "";
	width: 7px;
	height: 320px;
	background-color: rgba(0, 0, 0, 1);
}

.advantages__item{
	position: relative;
	display: none;
	padding: 25px 0;
}

.features__slider-input--1:checked ~ .advantages .advantages__item--slider-1,
.features__slider-input--2:checked ~ .advantages .advantages__item--slider-2,
.features__slider-input--3:checked ~ .advantages .advantages__item--slider-3{
	display: block;
}

.advantages__item::after{
	position: absolute;
	top: 20px;
	left: 555px;
	content: "";
	width: 170px;
	height: 190px;
	background-repeat: no-repeat;
}

.advantages__item--slider-1::after{
	background-image: url("../img/delivery.svg");
}

.advantages__item--slider-2::after{
	background-image: url("../img/garanty.svg");
}

.advantages__item--slider-3::after{
	background-image: url("../img/credit.svg");
}

.advantages__title{
	margin: 0;
	padding: 0;
	padding-top: 15px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.advantages__text{
	width: 430px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.3);
}

.controls-features{
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 65px;
}

.controls-features__label{
	display: inline-block;
	width: 160px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 40px;
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

	background-image: linear-gradient(to bottom, transparent 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, transparent 60%);
}

.controls-features__label:hover{
	background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%);
}

.controls-features__label:active{
	width: 252px;
	padding-left: 20px;
	text-align: left;
	color: rgba(240, 197, 46, 1);
	background-image: none;
	background-color: rgba(0, 0, 0, 1);
}

.features__slider-input--1:checked ~ .controls-features .controls-features__label--slider-1,
.features__slider-input--2:checked ~ .controls-features .controls-features__label--slider-2,
.features__slider-input--3:checked ~ .controls-features .controls-features__label--slider-3{
	width: 252px;
	padding-left: 20px;
	text-align: left;
	color: rgba(240, 197, 46, 1);
	background-image: none;
	background-color: rgba(0, 0, 0, 1);
}

.brands{
	margin-bottom: 155px;
}

.brands__list{
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}

.brands__picture{
	filter: grayscale(1) opacity(0.3);
}

.brands__picture:hover{
	filter: grayscale(0) opacity(1);
}

.main-wrapper{
	margin-bottom: 90px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.description,
.contacts{
	position: relative;
	
}

.description{
	width: 475px;
}

.contacts{
	width: 560px;
}

.description__title,
.contacts__title{
	margin: 0;
	padding: 0;
	margin-bottom: 55px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.description__title::before,
.contacts__title::before{
	position: absolute;
	top: -50px;
	left: 0px;
	content: "";
	width: 80px;
	height: 7px;
	background-color: rgba(0, 0, 0, 1);
}

.description__text,
.contacts__text{
	margin: 0;
	padding: 0;
	margin-bottom: 45px;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(187, 187, 187, 1);
}

.contacts__link{
	display: block;
	margin-bottom: 85px;
}

.description-delivery{
	margin: 0;
	padding: 0;
}

.description-delivery{
	margin-bottom: 85px;
}

.description-delivery__item{
	margin-left: 20px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.contacts__wrapper{
	margin-top: 85px;
}

.main__title{
	margin-bottom: 30px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.breadcrumbs{
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	width: 400px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link,
.breadcrumbs__item{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item{
	position: relative;
}

.breadcrumbs__link:hover{
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active{
	color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs__link::after{
	position: absolute;
	top: 10px;
	right: -26px;
	content: "";
	width: 5px;
	height: 5px;
	border-right: 1px solid rgba(0, 0, 0, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	transform: rotate(-45deg);
}

.main__section-catalog{
	display: flex;
}

.filters{
	width: 32.7%;
	background-image: linear-gradient(to bottom, rgba(220, 220, 220, 1) 70px, rgba(239, 239, 239, 1) 70px, rgba(239, 239, 239, 1) 100%);
}

.filters__wrapper{
	margin-left: auto;
	margin-right: 110px;
	width: 330px;
}

.filters__form{
	padding-left: 95px;
}

.filters__filter{
	position: relative;
	margin-top: 40px;
	padding: 0;
	border:none;
}

.filters__filter::before{
	position: absolute;
	content: "";
    top: 0;
    left: 0;
    width: 201px;
    height: 2px;
    background-color: rgba(0, 0, 0, 1);
}

.filters__title,
.sort__title{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2px;
	color: rgba(0, 0, 0, 1);
}

.filters__title{
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 70px;
	padding-left: 95px;
	padding-top: 23px;
}

.filter-price__title,
.filter-color__title,
.filter-bluetooth__title{
	margin: 0;
	padding: 0;
	padding-top: 15px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.filter-price__title{
	margin-bottom: 25px;
}

.price-control{
	position: relative;
}

.price-control__scale{
	height: 2px;
	width: 201px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.price-control__bar{
	height: 100%;
	width: 80%;
	background-color: rgba(145, 201, 47, 1);
}

.price-control__toogle{
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	border: 8px solid rgba(255, 255, 255, 1);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 1);
	cursor: pointer;
}

.price-control__toogle:active{
	transform: scale(1.2);
}

.price-control__label{
	position: absolute;
}

.price-control__label,
.price-control__input{
	font-family: 'gilroylight', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.2);
}

.price-control__toogle--min,
.price-control__label--min{
	left: 0;
}

.price-control__toogle--max,
.price-control__label--max{
	left: 80%;
}

.price-control__label--max{
	margin-left: -22px;
	margin-right: -22px;
}

.price-control__input{
	max-width: 50px;
	border: none;
	outline: none;
	background-color: transparent;
}

.filter-color__list,
.filter-bluetooth__list{
	list-style: none;
}

.filter-color__label,
.filter-bluetooth__label{
	position: relative;
    cursor: pointer;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: rgba(0, 0, 0, 1);
}

.filter-color__input,
.filter-bluetooth__input{
	display: none;
}

.filter-color__label::before{
	position: absolute;
	content: "";
    top: -3px;
    left: -40px;
    width: 25px;
    height: 25px;
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filter-color__label:hover::before{
    background-image: url(../img/checkbox-off-hover.svg);
}

.filter-color__label:active::before{
    background-image: url(../img/checkbox-on.svg);
}

.filter-color__label:disabled::before{
    background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-color__input:checked ~ .filter-color__label::before{
	background-image: url(../img/checkbox-on.svg);
}

.filter-color__input:checked ~ .filter-color__label:hover::before{
	background-image: url(../img/checkbox-on-hover.svg);
}

.filter-color__input:checked ~ .filter-color__label:active::before{
	background-image: url(../img/checkbox-off.svg);
}

.filter-color__input:checked ~ .filter-color__label:disabled::before{
	background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-bluetooth__label::before{
	position: absolute;
	content: "";
    top: -3px;
    left: -40px;
    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
}

.filter-bluetooth__label:hover::before{
    background-image: url(../img/radio-off-hover.svg);
}

.filter-bluetooth__label:active::before{
    background-image: url(../img/radio-on.svg);
}

.filter-bluetooth__label:disabled::before{
    background-image: url(../img/radio-off-disabled.svg);
}

.filter-bluetooth__input:checked ~ .filter-bluetooth__label::before{
	background-image: url(../img/radio-on.svg);
}

.filter-bluetooth__input:checked ~ .filter-bluetooth__label:hover::before{
	background-image: url(../img/radio-on-hover.svg);
}

.filter-bluetooth__input:checked ~ .filter-bluetooth__label:active::before{
	background-image: url(../img/radio-off.svg);
}

.filter-bluetooth__input:checked ~ .filter-bluetooth__label:disabled::before{
	background-image: url(../img/radio-on-disabled.svg);
}

.filters__btn{
	border: none;
	background-image: linear-gradient(to bottom, rgba(238, 238, 238, 1) 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, rgba(238, 238, 238, 1) 60%);
}

.main__section{
	width: 67.5%;
	background-image: linear-gradient(to bottom, rgba(235, 235, 235, 1) 70px, rgba(255, 255, 255, 1) 70px, rgba(255, 255, 255, 1) 100%);
}

.main__section-wrapper{
	width: 845px;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.sort{
	width: 815px;
	min-height: 70px;
	margin-bottom: 70px;
	align-self: flex-start;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.sort__title,
.sort__list{
	margin: 0;
	padding: 0;
}

.sort__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.sort-list{
	width: 300px;
}

.sort__title{
	margin-left: 30px;
}

.sort-destination__link::after{
	display: inline-block;
	margin-left: 20px;
	content: "";
	border: 15px solid rgba(0, 0, 0, 0.2);
	border-right-width: 8px;
	border-left-width: 8px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.sort-destination__link:hover::after{
	border: 15px solid rgba(0, 0, 0, 0.4);
	border-right-width: 8px;
	border-left-width: 8px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.sort-destination__link:active::after{
	border: 15px solid rgba(0, 0, 0, 1);
	border-right-width: 8px;
	border-left-width: 8px;
	border-right-color: transparent;
	border-left-color: transparent;
}

.sort-destination__link--up::after,
.sort-destination__link--up:hover::after,
.sort-destination__link--up:active::after{
	border-top-width: 0;
}

.sort-destination__link--down::after,
.sort-destination__link--down:hover::after,
.sort-destination__link--down:active::after{
	border-bottom-width: 0;
}

.sort-list__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.sort-list__link:hover{
	color: rgba(0, 0, 0, 0.6);
}

.sort-list__link:active{
	color: rgba(0, 0, 0, 1);
}

.sort-destination__link{
	font-size: 1px;
	margin: -1px;
	color: rgba(235, 235, 235, 1);
}

.goods-list{
	margin: 0;
	padding: 0;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style: none;
}

.goods-item__section{
	position: relative;
	display: flex;
	flex-direction: column;
}

.goods-item{
	margin-bottom: 50px;
}

.goods-item__text{
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.goods-item__title{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 260px;
	position: relative;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.goods-item__price{
	font-family: 'gilroylight', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.goods-action{
	position: absolute;
	top: 0;
	left: 0;
	width: 360px;
	height: 380px;
	z-index: 1;
	cursor: pointer;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(239, 239, 239, 0.7);
}

.goods-action:hover,
.goods-item__picture:hover ~ .goods-action{
	display: flex;
}

.goods-action__button{
	background-image: linear-gradient(to bottom, transparent 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, transparent 60%);
}

.goods-action__link{
	margin-top: 15px;
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 36px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.5);
}

.goods-action__link:hover{
	color: rgba(0, 0, 0, 1);
}

.goods-action__link:active{
	color: rgba(0, 0, 0, 0.2);
}

.pagination{
	width: 700px;
	height: 70px;
	margin-bottom: 75px;
	background-color: rgba(235, 235, 235, 1);
}

.pagination__list,
.page-number__list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	list-style: none;
	align-items: center;
}

.page-number__list{
	min-width: 100px;
}

.pagination__item{
	padding: 23px;
}

.pagination__item--prev:hover,
.pagination__item--next:hover{
	background-color: rgba(217, 217, 217, 1);
}

.pagination__link,
.page-number__link{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.page-number__link{
	color: rgba(0, 0, 0, 0.3);
}

.pagination__link,
.page-number__link--active{
	color: rgba(0, 0, 0, 1);
}

.footer{
	padding: 65px 0;
	background-color: rgba(70, 70, 70, 1);
}

.footer__wrapper{
	display: flex;
	flex-direction: column;
}

.footer__section:first-child{
	display: flex;
	justify-content: space-between;
}

.footer__logo{
	color: rgba(255, 198, 0, 1);
}

.footer__logo:hover,
.footer__logo:focus{
	color: rgba(255, 198, 0, 0.6);
}

.footer__logo:active{
	color: rgba(255, 198, 0, 0.3);
}

.footer .user-menu__item{
	position: relative;
}

.footer .user-menu__link{
	color: rgba(255, 255, 255, 0.7);
}

.footer .user-menu__link:hover,
.footer .user-menu__link:focus{
	color: rgba(255, 255, 255, 1);
}

.footer .user-menu__link:active{
	color: rgba(255, 255, 255, 0.3);
}

.footer .user-menu__link::before{
	position: absolute;
	top: 10px;
	left: -20px;
	content: "";
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
}

.footer .user-menu__link--user::before{
	background-image: url("../img/user-footer.svg");
}

.footer .user-menu__link--compare::before{
	background-image: url("../img/compare-footer.svg");
}

.footer .user-menu__link--cart::before{
	background-image: url("../img/cart-footer.svg");
}

.footer .user-menu__link:hover::before{
	filter: opacity(0.6);
}

.footer .user-menu__link:active::before{
	filter: opacity(0.3);
}

.footer .user-menu__item--exit{
	margin-right: 0;
}

.footer .user-menu__link--exit{
	color: rgba(255, 255, 255, 0.3);
}

.footer .user-menu__link--exit:hover,
.footer .user-menu__link--exit:focus{
	color: rgba(255, 255, 255, 0.6);
}

.footer .user-menu__link--exit:active{
	color: rgba(255, 255, 255, 1);
}

.footer__section:nth-child(2){
	display: flex;
	justify-content: space-between;
}

.footer__section-list{
	display: flex;
	justify-content: space-between;
}

.footer__section-text,
.footer__telephone-link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}

.footer__telephone-link{
	text-decoration: none;
}

.footer .site-menu{
	width: 430px;
	margin-right: auto;
	align-items: center;
}

.footer .site-menu__item{
	padding: 0;
	margin: 0;
}

.footer .site-menu__link{
	color: rgba(255, 255, 255, 1);
}

.footer .site-menu__link:hover,
.footer .site-menu__link:focus{
	color: rgba(255, 255, 255, 0.6);
}

.footer .site-menu__link:active{
	color: rgba(255, 255, 255, 0.3);
}

.footer__section:last-child{
	display: flex;
	justify-content: center;
	position: relative;
}

.social{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.social::before{
	position: absolute;
	top: 30px;
	left: 0px;
	content: "";
	width: 80px;
	height: 7px;
	background-color: rgba(255, 198, 0, 1);
}

.social__item{
	position: relative;
	margin-left: 50px;
}

.social__item:first-child{
	margin-left: 0;
}

.social__link{
	font-size: 1px;
	margin: -1px;
	color: rgba(70, 70, 70, 1);
}

.social__link::before{
	position: absolute;
	left: 0px;
	content: "";
	width: 32px;
	height: 32px;
	filter: opacity(0.3);
}

.social__link:hover::before{
	filter: opacity(0.6);
}

.social__link:active::before{
	filter: opacity(0.1);
}

.social__link--fb::before{
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
}

.social__link--inst::before{
	background-image: url("../img/inst.svg");
	background-repeat: no-repeat;
}

.social__link--twit::before{
	background-image: url("../img/twit.svg");
	background-repeat: no-repeat;
}

.footer__copyright{
	position: absolute;
	right: 0;
	bottom: 0;
	content: "";
	width: 28px;
	height: 35px;

	background-image: url("../img/logo-academy.svg");
	background-repeat: no-repeat;
}

.footer__copyright:hover{
	filter: opacity(0.6);
}

.footer__copyright:active{
	filter: opacity(0.3);
}

.popup-letter{
	position: absolute;
	margin: 0;
	padding: 0;
	content: "";
	width: 960px;
	height: 550px;
	bottom: -150%;
	left: 50%;
	margin-left: -480px;

	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
	background-color: rgba(255 ,255 ,255, 1);
	box-shadow: 0 0 10px 1px rgba(212, 212, 212, 1);
}

.popup-letter__form{
	position: relative;
	width: 760px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.popup-letter__button,
.popup-letter__input,
.popup-letter__submit,
.popup-map__button{
	border: none;
	outline: none;
}

.popup-letter__button,
.popup-map__button{
	position: absolute;
	margin: 0;
	padding: 0;
	content: "";
	width: 50px;
	height: 50px;
	top: 15px;
	right: 15px;
	z-index: 1;

	border-radius: 50%;
	background-color: rgba(240, 197, 46, 0.5);
}

.popup-letter__button::before,
.popup-map__button::before{
	position: absolute;
	content: "";
	width: 30px;
	height: 3px;
	transform: rotate(-45deg);
	top: 23px;
	right: 10px;
	background-color: rgba(255, 255, 255, 1);
}

.popup-letter__button::after,
.popup-map__button::after{
	position: absolute;
	content: "";
	width: 30px;
	height: 3px;
	transform: rotate(45deg);
	top: 23px;
	right: 10px;
	background-color: rgba(255, 255, 255, 1);
	
}

.popup-letter__button:hover,
.popup-map__button:hover{
	background-color: rgba(240, 197, 46, 1);
}

.popup-letter__button:active,
.popup-map__button:active{
	background-color: rgba(240, 197, 46, 0.3);
}

.popup-letter__wrapper{
	flex-basis: 100px;
}

.popup-letter__label{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.popup-letter__input{
	box-sizing: border-box;
	margin-top: 10px;
	padding-left: 20px;
	width: 360px;
	height: 50px;
	background-color: rgba(242, 242, 242, 1);

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color:color: rgba(0, 0, 0, 1);
}

.popup-letter__input--area{
	padding-top: 13px;
	min-width: 760px;
	max-width: 760px;
	min-height: 155px;
	max-height: 270px;
}

.popup-letter__input::-webkit-input-placeholder{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color:color: rgba(0, 0, 0, 0.4);
}

.popup-letter__input::-moz-placeholder{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.4);
}/* Firefox 19+ */

.popup-letter__input:-moz-placeholder{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.4);
}/* Firefox 18- */

.popup-letter__input:-ms-input-placeholder{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.4);
}

.popup-letter__input:hover{
	background-color: rgba(235, 235, 235, 1);
}

.popup-letter__input:focus{
	outline: 3px solid rgba(247, 226, 150, 1);
	background-color: rgba(255, 255, 255, 1);
}

.popup-letter__input:focus::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 1);
}

.popup-letter__input:focus::-moz-placeholder{
	color: rgba(0, 0, 0, 1);
}/* Firefox 19+ */

.popup-letter__input:focus:-moz-placeholder{
	color: rgba(0, 0, 0, 1);
}/* Firefox 18- */

.popup-letter__input:focus:-ms-input-placeholder{
	color: rgba(0, 0, 0, 1);
}

.popup-map{
	position: absolute;
	margin: 0;
	padding: 0;
	content: "";
	width: 960px;
	height: 550px;
	bottom: -265%;
	left: 50%;
	margin-left: -480px;

	display: none;
	z-index: 2;
	background-color: rgba(255 ,255 ,255, 1);
	box-shadow: 0 0 10px 1px rgba(212, 212, 212, 1);
}
