@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;
}

.visually-hidden{
	display: none;
}

.container{
	width: 1160px;
	margin: 0 auto;
	padding: 0 60px;
}

.header{
	margin-top: 40px;
	position: relative;

	background-color: rgba(247, 226, 150, 1);
}

.logo{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.header__logo{
	position: absolute;
	top: -20px;
	left: 60px;

	color: rgba(0, 0, 0, 1);
}

.header__logo:hover,
.header__logo:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header__logo:active{
	color: rgba(0, 0, 0, 0.3);
}

.main-menu{
	padding-top: 50px;
	padding-bottom: 55px;
}

.main-menu__container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.main-menu__search,
.main-menu__button{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

.main-menu__search{
	color: rgba(0, 0, 0, 0.3);

	background-color: rgba(247, 226, 150, 1);
	border: none;
}

.main-menu__search:hover{
	color: rgba(0, 0, 0, 0.6);
}

.main-menu__search:focus{
	color: rgba(0, 0, 0, 1);
}

.main-menu__button{
	display: none;
}

.user-menu,
.site-menu,
.catalog-menu{
	list-style: none;
}

.user-menu{
	margin: 0;
	padding: 0;
	min-width: 500px;
	display: flex;
}

.user-menu__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

.header .user-menu__link{
	color: rgba(0, 0, 0, 1);
}

.header .user-menu__link:hover,
.header .user-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header .user-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.user-menu .exit-button{
	color: rgba(0, 0, 0, 0.3);
}

.user-menu .exit-button:hover,
.user-menu .exit-button:focus{
	color: rgba(0, 0, 0, 0.6);
}

.user-menu .exit-button:active{
	color: rgba(0, 0, 0, 1);
}

.main-menu__list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.site-menu__link{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

.header .site-menu__link{
	color: rgba(0, 0, 0, 1);
}

.header .site-menu__link:hover,
.header .site-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header .site-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.catalog-menu__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}

.catalog-menu__link:hover,
.catalog-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.catalog-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.btn{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);

	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 30%, rgba(240, 197, 46, 1) 30%, rgba(240, 197, 46, 1) 70%, rgba(255, 255, 255, 1) 70%);
}

.btn:hover{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.btn:active{
	color: rgba(0, 0, 0, 0.3);

	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.recommended-goods__list{
	list-style: none;
}

.categories__list{
	list-style: none;
}

.categories-item__picture{
	width: 160px;
	height: 160px;

	background-color: rgba(247, 226, 150, 1); 
}

.features{
 background-color: rgba(229, 229, 229, 1);
}

.advantages{
	list-style: none;
}

.brands__list{
	list-style: none;
}

.main__wrapper{
	display: flex;
	justify-content: space-between;
}

.description__title,
.contacts__title{
	margin: 0;
	padding: 0;
	margin-bottom: 55px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.description__text,
.contacts__text{
	margin: 0;
	padding: 0;
	margin-bottom: 45px;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(187, 187, 187, 1);
}

.description__text{
	width: 475px;
}

.contacts__text{
	width: 560px;
}

.description-delivery{
	margin: 0;
	padding: 0;
	margin-left: 20px;
}

.description-delivery__item{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.description-delivery{
	margin-bottom: 85px;
}

.contacts__wrapper{
	margin-top: 85px;
}

.main__title{
	margin-bottom: 30px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.breadcrumbs{
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	width: 400px;

	display: flex;
	justify-content: space-between;

	list-style: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover{
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active{
	color: rgba(0, 0, 0, 0.1);
}

.main__section-catalog{
	display: flex;
	justify-content: space-between;
}

.filters{
	padding-right: 65px;

	background-color: rgba(239, 239, 239, 1);
}

.filters__filter{
	border:none;
}

.filter-price__title,
.filter-color__title,
.filter-bluetooth__title{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.filter-color__list,
.filter-bluetooth__list{
	list-style: none;
}

.filter-color__label,
.filter-bluetooth__label{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: rgba(0, 0, 0, 1);
}

.filter-color__input{
	border-color: color: rgba(0, 0, 0, 1);
	border-width: 2px;
}

.filter-color__input:hover{
	border-color: color: rgba(0, 0, 0, 0.6);
}

.filter-color__input:blocked{
	border-color: color: rgba(0, 0, 0, 0.25);
}

.main__section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sort{
	display: flex;
	justify-content: space-around;

	background-color: rgba(235, 235, 235, 1);
}

.sort__list{
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style: none;
}

.sort-list{
	width: 300px;
}

.sort-list__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.goods-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	list-style: none;
}

.goods-item__title{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.goods-item__price{
	font-family: 'gilroylight', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.goods-item__title{
	margin: 0;
	padding: 0;
	width: 260px;
}

.pagination{
	width: 760px;

	background-color: rgba(235, 235, 235, 1);
}

.pagination__list{
	display: flex;
	justify-content: space-around;

	list-style: none;
}

.footer{
	margin-top: 90px;
	padding: 65px 0;

	background-color: rgba(70, 70, 70, 1);
}

.footer__wrapper{
	display: flex;
	flex-direction: column;
}

.footer__section:first-child{
	display: flex;
	justify-content: space-between;
}

.footer__logo{
	color: rgba(255, 198, 0, 1);
}

.footer__logo:hover,
.footer__logo:focus{
	color: rgba(255, 198, 0, 0.6);
}

.footer__logo:active{
	color: rgba(255, 198, 0, 0.3);
}

.footer .user-menu{
	width: 480px;
}

.footer .user-menu__link{
	color: rgba(255, 255, 255, 0.7);
}

.footer .user-menu__link:hover,
.footer .user-menu__link:focus{
	color: rgba(255, 255, 255, 1);
}

.footer .user-menu__link:active{
	color: rgba(255, 255, 255, 0.3);
}

.footer__section:nth-child(2){
	display: flex;
	justify-content: space-between;
}

.footer__section-list{
	display: flex;
	justify-content: space-between;
}

.footer__section-text,
.footer__telephone-link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}

.footer__telephone-link{
	text-decoration: none;
}

.footer .site-menu{
	width: 440px;
}

.footer .site-menu__link{
	color: rgba(255, 255, 255, 1);
}

.footer .site-menu__link:hover,
.footer .site-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.footer .site-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.footer__section:last-child{
	display: flex;
	justify-content: space-between;
}

.social{
	list-style: none;
}

.social__link{
	display: none;
}

.footer__copyright{
	outline: 2px solid white;
}