@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	min-width: 1122px;
	min-height: 1750px;
	margin: 0;
	padding: 0;
}

.visually-hidden:not(:focus):not(:active){
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;

	overflow: hidden;
}

.container{
	width: 1160px;
	margin: 0 auto;
	padding: 0 60px;
}

.header{
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40px, rgba(247, 226, 150, 1) 40px, rgba(247, 226, 150, 1) 100%);
}

.logo{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 48px;
	line-height: 48px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.header__logo{
	display: block;
	padding-top: 20px;

	color: rgba(0, 0, 0, 1);
}

.header__logo:hover,
.header__logo:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header__logo:active{
	color: rgba(0, 0, 0, 0.3);
}

.main-menu{
	padding-top: 50px;
	padding-bottom: 55px;
}

.main-menu__container{
	display: flex;
	margin-bottom: 50px;
	margin-left: 35px;
	position: relative;
}

.main-menu__form::before{
	position: absolute;
	top: 10px;
	left: -35px;
	content: "";
	width: 50px;
	height: 50px;
	background-image: url("../img/search.svg");
	background-repeat: no-repeat;
}

.main-menu__search,
.main-menu__button{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

.main-menu__search{
	color: rgba(0, 0, 0, 0.3);

	background-color: rgba(247, 226, 150, 1);
	border: none;
}

.main-menu__search:hover{
	color: rgba(0, 0, 0, 0.6);
}

.main-menu__search:focus{
	color: rgba(0, 0, 0, 1);
}

.main-menu__button{
	display: none;
}

.user-menu,
.site-menu,
.catalog-menu{
	list-style: none;
}

.user-menu{
	margin: 0;
	padding: 0;
	min-width: 500px;
	display: flex;
}

.user-menu__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}

.header .user-menu__item{
	position: relative;
}

.header .user-menu__link{
	color: rgba(0, 0, 0, 1);
}

.header .user-menu__link:hover,
.header .user-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header .user-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.header .user-menu__link::before{
	position: absolute;
	top: 10px;
	left: -20px;
	content: "";
	width: 50px;
	height: 50px;
}

.header .user-menu__link--user::before{
	background-image: url("../img/user-header.svg");
	background-repeat: no-repeat;
}

.header .user-menu__link--compare::before{
	background-image: url("../img/compare-header.svg");
	background-repeat: no-repeat;
}

.header .user-menu__link--cart::before{
	background-image: url("../img/cart-header.svg");
	background-repeat: no-repeat;
}

.header .user-menu__link:hover::before{
	filter: opacity(0.6);
}

.header .user-menu__link:active::before{
	filter: opacity(0.3);
}

.user-menu .exit-button{
	color: rgba(0, 0, 0, 0.3);
}

.user-menu .exit-button:hover,
.user-menu .exit-button:focus{
	color: rgba(0, 0, 0, 0.6);
}

.user-menu .exit-button:active{
	color: rgba(0, 0, 0, 1);
}

.main-menu__list{
	margin: 0;
	padding: 0;
	display: flex;
	margin-left: auto;
	justify-content: space-between;
	position: relative;
}

.site-menu__link{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
}

.header .site-menu__link{
	color: rgba(0, 0, 0, 1);
}

.header .site-menu__link:hover,
.header .site-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.header .site-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.catalog-menu__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	color: rgba(0, 0, 0, 1);
}

.site-menu__item:first-child:hover .catalog-menu{
	display: block;
}

.catalog-menu{
	margin: 0;
	padding: 0;
	margin-top: 30px;
	display: none;
	position: absolute;
	z-index: 1;
	background-color: rgba(247, 226, 150, 1);
}

.catalog-menu__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 36px;
	color: rgba(0, 0, 0, 1);
}

.catalog-menu__link:hover,
.catalog-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.catalog-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.btn{
	display: inline-block;
	padding: 0 40px;
	min-width: 160px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	text-align: center;
	color: rgba(0, 0, 0, 1);


	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, rgba(255, 255, 255, 1) 60%);
}

.btn:hover{
	background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%);
}

.btn:active{
	color: rgba(0, 0, 0, 0.3);

	background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%);
}

.recommended-goods{
	position: relative;
	background-image: linear-gradient(to bottom, rgba(247, 226, 150, 1) 0%, rgba(247, 226, 150, 1) 115px, rgba(255, 255, 255, 1) 115px, rgba(255, 255, 255, 1) 100%);
}

.recommended-goods__slider-input{
	display: none;
}

.recommended-goods__list{
	margin: 0;
	padding: 0;
	margin-bottom: 100px;
	display: flex;

	list-style: none;
}

.item-goods--slider-1{
	display: flex;
	margin-left: 80px;
}

.item-goods__img-wrapper{
	margin-right: 120px;
}

.description-detail{
	position: relative;
}

.description-detail__lead{
	display: inline-block;
	width: 390px;
	margin-top: 85px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 56px;
	color: rgba(0, 0, 0, 1);
}

.description-detail__lead::before{
	position: absolute;
	top: 30px;
	left: 0px;
	content: "";
	width: 100px;
	height: 7px;

	background-color: rgba(255, 255, 255, 1);
}

.description-detail__lead::after{
	position: absolute;
	top: 55px;
	right: 105px;
	content: "01";
	width: 50px;
	height: 50px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 179.2px;
	color: rgba(255, 255, 255, 1);
}

.description-detail__text{
	width: 480px;
	margin-bottom: 60px;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0, 0, 0, 1);
}

.definition-list{
	margin: 0;
	padding: 0;
	margin-top: 65px;
	display: flex;
	flex-direction: column;
	flex-basis: 50px;
	flex-wrap: wrap;
}

.definition-list__term{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 1);
}

.definition-list__determination{
	font-family: 'gilroylight', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 56px;
	color: rgba(0, 0, 0, 1);
}

.controls{
	position: absolute;
	top: 335px;
	right: 140px;
}

.controls__label{
	display: inline-block;
  	margin: 0 10px;
  	width: 10px;
  	height: 10px;
  	border-radius: 50%;
  	border: 2px solid rgba(0, 0, 0, 1);
  	background-color: rgba(255, 255, 255, 1);;
}

#radio-1:checked ~ .controls .controls__item label[for="radio-1"],
#radio-2:checked ~ .controls .controls__item label[for="radio-2"],
#radio-3:checked ~ .controls .controls__item label[for="radio-3"] {
  background-color: rgba(0, 0, 0, 1);
}

.categories__list{
	margin: 0;
	padding: 0;
	margin-bottom: 70px;
	display: flex;
	justify-content: space-between;

	list-style: none;
}

.categories-item__link{
	text-decoration: none;
}

.categories-item__picture{
	width: 160px;
	height: 160px;

	background-color: rgba(247, 226, 150, 1);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.categories-item__picture:hover{
	background-color: rgba(240, 197, 46, 1);
}

.categories-item__picture:active{
	background-color: rgba(240, 197, 46, 1);
	filter: opacity(0.3);
}

.categories-item__picture:active ~ .categories-item__title{
	filter: opacity(0.3);
}

.categories-item__picture--virtual{
	background-image: url("../img/category-1.svg");
}

.categories-item__picture--monopods{
	background-image: url("../img/category-2.svg");
}

.categories-item__picture--camers{
	background-image: url("../img/category-3.svg");
}

.categories-item__picture--bracers{
	background-image: url("../img/category-4.svg");
}

.categories-item__picture--watches{
	background-image: url("../img/category-5.svg");
}

.categories-item__picture--quadcopters{
	background-image: url("../img/category-6.svg");
}

.categories-item__title{
	width: 160px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.features{
	margin-bottom: 100px;
 	background-color: rgba(229, 229, 229, 1);
}

.features .container{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.features__list{
	position: relative;
	margin-right: 240px;
	list-style: none;
}

.features__item{
	margin-bottom: 25px;
}

.advantages{
	display: flex;
}

.advantages::after{
	position: absolute;
	top: 20px;
	left: 560px;
	content: "";
	width: 140px;
	height: 165px;

	background-image: url("../img/delivery.svg");
	background-repeat: no-repeat;
}

.advantages__title{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.advantages__text{
	width: 430px;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.3);
}

.controls-features::after{
	position: absolute;
	top:-100px;
	left: 300px;
	content: "";
	width: 4px;
	height: 320px;
	background-color: rgba(0, 0, 0, 1);
}

.features__label{
	display: inline-block;
	padding: 0 20px;
	width: 160px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 40px;
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	background-image: linear-gradient(to bottom, rgba(229, 229, 229, 1) 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, rgba(229, 229, 229, 1) 60%);
}

.features__label:hover{
	background-image: linear-gradient(to bottom, rgba(240, 197, 46, 1) 0%, rgba(240, 197, 46, 1) 100%);
}

.features__label:active{
	width: 220px;
	text-align: left;
	color: rgba(240, 197, 46, 1);

	background-image: none;
	background-color: rgba(0, 0, 0, 1);
}

.brands{
	margin-bottom: 155px;
}

.brands__list{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;

	list-style: none;
}

.brands__picture{
	filter: grayscale(1) opacity(0.3);
}

.brands__picture:hover{
	filter: grayscale(0) opacity(1);
}

.main-wrapper{
	margin-bottom: 90px;
	display: flex;
	justify-content: space-between;
}

.description,
.contacts{
	position: relative;
	
}

.description{
	width: 475px;
}

.contacts{
	width: 560px;
}

.description__title,
.contacts__title{
	margin: 0;
	padding: 0;
	margin-bottom: 55px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.description__title::before,
.contacts__title::before{
	position: absolute;
	top: -50px;
	left: 0px;
	content: "";
	width: 80px;
	height: 7px;

	background-color: rgba(0, 0, 0, 1);
}

.description__text,
.contacts__text{
	margin: 0;
	padding: 0;
	margin-bottom: 45px;

	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(187, 187, 187, 1);
}

.contacts__link{
	display: block;
	margin-bottom: 85px;
}

.description-delivery{
	margin: 0;
	padding: 0;
}

.description-delivery{
	margin-bottom: 85px;
}

.description-delivery__item{
	margin-left: 20px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 40px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.contacts__wrapper{
	margin-top: 85px;
}

.main__title{
	margin-bottom: 30px;

	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 47px;
	line-height: 48px;
	color: rgba(0, 0, 0, 1);
}

.breadcrumbs{
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	width: 400px;

	display: flex;
	justify-content: space-between;

	list-style: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link,
.breadcrumbs__item{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover{
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active{
	color: rgba(0, 0, 0, 0.1);
}

.main__section-catalog{
	display: flex;
	justify-content: space-between;
}

.filters{
	padding-right: 65px;

	background-color: rgba(239, 239, 239, 1);
}

.filters__filter{
	border:none;
}

.filters__title,
.sort__title{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2px;
	color: rgba(0, 0, 0, 1);
}

.filter-price__title,
.filter-color__title,
.filter-bluetooth__title{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.filter-color__list,
.filter-bluetooth__list{
	list-style: none;
}

.filter-color__label,
.filter-bluetooth__label{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 40px;
	color: rgba(0, 0, 0, 1);
}

.filter-color__input{
	border-color: rgba(0, 0, 0, 1);
	border-width: 2px;
}

.filter-color__input:hover{
	border-color: rgba(0, 0, 0, 0.6);
}

.filter-color__input:disabled{
	border-color: rgba(0, 0, 0, 0.25);
}

.filters__btn{
	border: none;
	background-image: linear-gradient(to bottom, rgba(238, 238, 238, 1) 40%, rgba(240, 197, 46, 1) 40%, rgba(240, 197, 46, 1) 60%, rgba(238, 238, 238, 1) 60%);
}

.main__section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sort{
	display: flex;
	justify-content: space-around;

	background-color: rgba(235, 235, 235, 1);
}

.sort__list{
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style: none;
}

.sort-list{
	width: 300px;
}

.sort-destination{
	position: relative;
}

.sort-destination__link--up::before{
	position: absolute;
	top: 30px;
	left: 0px;
	content: "";
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 0, 1);
}

.sort-destination__linl--down::before{
	position: absolute;
	top: 30px;
	left: 30px;
	content: "";
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 0, 1);
}

.sort-list__link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
}

.sort-destination__link{
	font-size: 1px;
	margin: -1px;
	color: rgba(235, 235, 235, 1);
}

.goods-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	list-style: none;
}

.goods-item__title{
	font-family: 'gilroyextrabold', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}

.goods-item__price{
	font-family: 'gilroylight', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
}

.goods-item__title{
	margin: 0;
	padding: 0;
	width: 260px;
}

.pagination{
	width: 760px;

	background-color: rgba(235, 235, 235, 1);
}

.pagination__list{
	display: flex;
	justify-content: space-around;

	list-style: none;
}

.footer{
	padding: 65px 0;

	background-color: rgba(70, 70, 70, 1);
}

.footer__wrapper{
	display: flex;
	flex-direction: column;
}

.footer__section:first-child{
	display: flex;
	justify-content: space-between;
}

.footer__logo{
	color: rgba(255, 198, 0, 1);
}

.footer__logo:hover,
.footer__logo:focus{
	color: rgba(255, 198, 0, 0.6);
}

.footer__logo:active{
	color: rgba(255, 198, 0, 0.3);
}

.footer .user-menu{
	width: 480px;
}

.footer .user-menu__item{
	position: relative;
}

.footer .user-menu__link{
	color: rgba(255, 255, 255, 0.7);
}

.footer .user-menu__link:hover,
.footer .user-menu__link:focus{
	color: rgba(255, 255, 255, 1);
}

.footer .user-menu__link:active{
	color: rgba(255, 255, 255, 0.3);
}

.footer .user-menu__link::before{
	position: absolute;
	top: 10px;
	left: -20px;
	content: "";
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
}

.footer .user-menu__link--user::before{
	background-image: url("../img/user-footer.svg");
}

.footer .user-menu__link--compare::before{
	background-image: url("../img/compare-footer.svg");
}

.footer .user-menu__link--cart::before{
	background-image: url("../img/cart-footer.svg");
}

.footer .user-menu__link:hover::before{
	filter: opacity(0.6);
}

.footer .user-menu__link:active::before{
	filter: opacity(0.3);
}

.footer__section:nth-child(2){
	display: flex;
	justify-content: space-between;
}

.footer__section-list{
	display: flex;
	justify-content: space-between;
}

.footer__section-text,
.footer__telephone-link{
	font-family: 'Open Sans', 'Arial', sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}

.footer__telephone-link{
	text-decoration: none;
}

.footer .site-menu{
	width: 440px;
}

.footer .site-menu__link{
	color: rgba(255, 255, 255, 1);
}

.footer .site-menu__link:hover,
.footer .site-menu__link:focus{
	color: rgba(0, 0, 0, 0.6);
}

.footer .site-menu__link:active{
	color: rgba(0, 0, 0, 0.3);
}

.footer__section:last-child{
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.social{
	display: flex;
	list-style: none;
}

.social::before{
	position: absolute;
	top: 30px;
	left: 0px;
	content: "";
	width: 80px;
	height: 7px;

	background-color: rgba(255, 198, 0, 1);
}

.social__item{
	position: relative;
	margin-left: 50px;
}

.social__item:first-child{
	margin-left: 0;
}

.social__link{
	font-size: 1px;
	margin: -1px;
	color: rgba(70, 70, 70, 1);
}

.social__link::before{
	position: absolute;
	left: 0px;
	content: "";
	width: 100px;
	height: 100px;
	filter: opacity(0.3);
}

.social__link:hover::before{
	filter: opacity(0.6);
}

.social__link:active::before{
	filter: opacity(0.1);
}

.social__link--fb::before{
	background-image: url("../img/fb.svg");
	background-repeat: no-repeat;
}

.social__link--inst::before{
	background-image: url("../img/inst.svg");
	background-repeat: no-repeat;
}

.social__link--twit::before{
	background-image: url("../img/twit.svg");
	background-repeat: no-repeat;
}

.footer__copyright{
	margin-left: 455px;
	margin-top: 15px;
	content: "";
	width: 50px;
	height: 50px;
	background-image: url("../img/logo-academy.svg");
	background-repeat: no-repeat;
}

.footer__copyright:hover{
	filter: opacity(0.6);
}

.footer__copyright:active{
	filter: opacity(0.3);
}
